/* site bounds */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}


/* header */
header{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    z-index: 1000;
}

/* HAMBURGER */

.hbMenu{
    position: fixed;
    /* clamp (min, pref, max) */
    top: clamp(1rem, 0.5vw, 2rem);
    left: clamp(0.5rem, 1vw, 2rem);

    width: clamp(50px, 5vw, 70px);
    height: clamp(50px, 5vw, 70px);

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    gap: 7px;

    cursor: pointer;

    z-index: 1002;
}

/* BARS */

.topBar, .botBar{
    width: 30px;
    height: 2px;
    background: black;
    transition: 0.3s ease;
}

.hbMenu.active .topBar{
    transform:
        translateY(
            clamp(6px, 0.7vw, 9px)
        )
        rotate(45deg);
    background: #e6e6fa;
}
.hbMenu.active .botBar{
    transform:
        translateY(
            clamp(-6px, -0.7vw, -9px)
        )
        rotate(-45deg);
    background: #e6e6fa;
}

/* OVERLAY */

.overFade{
    position: fixed;

    inset: 0;

    background: rgba(0,0,0,0.5);

    opacity: 0;

    visibility: hidden;

    transition: 0.3s ease;

    z-index: 998;
}

.overFade.active{
    opacity: 1;

    visibility: visible;
}

/* SIDEBAR */

.menuSide{
    position: fixed;

    top: 0;
    left: 0;

    width: min(400px, 80vw);

    height: 100vh;

    background: #1b003f;

    padding:
        clamp(5rem, 8vw, 8rem)
        clamp(2rem, 3vw, 3rem);

    transform: translateX(-100%);

    transition: 0.3s ease;

    z-index: 999;

    overflow-y: auto;
}

.menuSide.active{
    transform: translateX(0);
}

/* NAV */

.sideNav{
    display: flex;

    flex-direction: column;

    gap: clamp(1.5rem, 2vw, 2.5rem);
}

/* LINKS */

.sideNav a{
    text-decoration: none;

    color: #e6e6fa;
    font-size: clamp(1.5rem, 2vw, 3rem);

    text-transform: lowercase;

    line-height: 0.5;

    transition: 0.2s;
}

.sideNav a:hover{
    opacity: 0.5;
}

/* footer */
footer {
    color: white;
    opacity: 1;
    background: black;
    text-transform: lowercase;
    padding-bottom: 4rem;
    display: flex;
    justify-content: left;
    flex-flow: row;
    position: relative;
    bottom: 0;
    margin: 0 auto;
    line-height: 2;
}

footer section{
    position: center;
    width: 90%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin:  auto;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 50px;
}

.foot{
    flex: 1 0 0;
    flex-grow: 1;
    flex-direction: column;
    
}

.foot f1{
    padding-left: 4;
}

.foot f3{

    flex-grow: 2;
}

.foot f4{
    align-items: left;
}

.foot a{
    color: white;
    margin-bottom: 0.5rem;
    text-decoration: none;
}
.foot a:hover{
    text-decoration: underline;
}

ul{
    list-style: none;
}