
.sec.sec1{
    display: flex;
    align-items: center;
    background-image: url('assetshome/bbwMainBG.png');
    background-size: cover;
}

.promo{
    position: relative;

    width: min(55vw, 800px);
    aspect-ratio: 8 / 9;
}

.coverBox{
    position: absolute;

    width: 60%;
    aspect-ratio: 2/3;

    left: 0;
    top: 5.5%;

    background: gray;

    /* vertices */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    /* order */
    z-index: 2;
}

.coverBox img{
    width: 100%;

    object-fit: cover;

    display: block;

}
.cdBox{
    position: absolute;

    width: 85%;
    aspect-ratio: 1 / 1;

    left: 31%;
    top: 8.3%;

    border-radius: 50%;
    background: darkblue;

    /* order */
    z-index: 1;
}   

.selection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    line-height: 1.5;
    margin-left: 300px;
}

.selection button.option{
    background: none;
    border: none;
    padding: 0;

    font-size: clamp(1.5rem, 3vw, 3rem);
    font-weight: 700;
    font-family: Arial, sans-serif;

    color: black;
    cursor: pointer;

    text-align: left;
    line-height: 1;    
}
.selection button.option:hover{
    opacity: 0.5;
}

.option.active{
    opacity: 0.5;
}

.sec.sec2{
    height: 100vh;
    width: 100vw;
    color: black

}

.sec.sec3{
    height: 100vh;
    width: 100vw;
}